* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'BoldScript', cursive;
    color: #c295a1;
    background: linear-gradient(135deg, #ffdded, #b0c9ec);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 40px;
    font-size: 3rem;
    color: #c295a1;
}

.container {
    display: flex;
    gap: 30px;
}

.card {
    background: #ffffffaa;
    padding: 30px 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.5rem;
    backdrop-filter: blur(5px);
}

.card:hover {
    transform: scale(1.1);
    background: #ffffff;
}


.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.4s ease;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}